img {
  height: 120px;
  width: 180px;
}

header {
  background-color: orange;
  padding: 25px;
}

main {
  background-color: white;
  padding-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

div.car {
  border-color: black;
  border: 2px;
  display: inline-block;
  border-style: solid;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

div.hidden {
  display: none;
}

option.hidden {
  display: none;
}
